button{
    width: 250px;
    height: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: green;
}

.boton-clic{
    background-color: blue;
}

.boton-reiniciar{
    background-color: coral;
}