*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  background-color: aquamarine;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lofo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo{
  height: 50px;
}